{% extends "layout.njk" %}
{% block content %}

<h3> Thanks for your contact {{ contactName }}!</h3>
<br>
<p>I will send you an email to <i><strong>{{ contactEmail }}</strong></i> as soon as possible regarding your message:</p><br>
<p><i>{{ contactMessage }}</i></p>
<br>
Regards,<br>
<br>
Gustavo Sanchez<br>
Fullstack Developer
{% endblock %}